DATABASE_URL="file:./dev.db"

# JWT Configuration
JWT_SECRET=tu_jwt_secret_aqui

# Pusher Configuration
PUSHER_APP_ID=tu_app_id_aqui
PUSHER_KEY=tu_key_aqui
PUSHER_SECRET=tu_secret_aqui
PUSHER_CLUSTER=eu 